.page.friend {
  display: flex;
  flex-direction: column;
  height: 0;
}


.friendListSearch {
    background-image: url('image/search.svg'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-size: 15pt;
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%;
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
}

h5, a{
  text-align: center;
  font-size: 12pt;
  color: DimGrey;
}

.page.friend p {
  color:SeaGreen
}

table {
    border-collapse: collapse;
    border-spacing: 10;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
  }

.td {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border-bottom: 1px solid lightgray;
    font-size: 12px; /* Increase font-size */
    text-align: center;
    padding: 10px;
  }

tr:nth-child(even){background-color: #f2f2f2}
