html {
  height: 100%;
}

body {
  height: 100%;
}

.mainPage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.subPage {
  height: 100%;
  display: none;
}

.page {
  flex-grow: 1;
  flex-basis: 0;
}

hr {
  margin: 0;
}
