
.navbar {
  padding: 0;
  flex-basis: 30pt;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navitem {
  width: 15pt;
}

.toggle, .page, .navitem.calendar {
  display: none;
}

.calendar.toggle, .calendar.page {
  display: inline;
}
